@font-face {
  font-family: 'Avenir-Light';
  src: url('../fonts/Avenir-Light.ttf');
}

$color-primary: #023a5c;
$color-white: white;
$color-black: black;
$color-retractor: #7a9aa9;
$color-shadow: #e4e4e4;